* {
   margin: 0;
   padding: 0;
}
ul li {
   list-style: none;
}
.container {
   max-width: 1024px;
   margin: 0 auto;
}
.sect {
   margin-bottom: 50px;
}
.row {
	display: flex;
	margin-bottom: 20px;
}
.col-left {
	flex-basis: 23%;
	min-width: 230px;
   padding-right: 30px;
}
.col-right {
	flex-basis: 77%;
}
/*HEADER*/

.header {
   padding: 20px;
}
.header_body {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.photo {
   flex-grow: 1;
}
.photo_pic {
   position: relative; 
   width: 15vw;
   min-width: 200px;
   padding: 0 0 100% 0;
   
}
.photo_pic img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
      object-fit: cover;
   -o-object-position: center;
      object-position: center;
   border-radius: 100%;
}
.name {
   font-family: "Montserrat", sans-serif;
   font-size: 46px;
   font-weight: 700;
   line-height: 53px;
   color: #314a5b;
   margin-bottom: 10px;
   margin-top: 2vw;
}
.profession {
   font-family: "Open Sans", sans-serif;
   font-size: 24px;
   font-weight: 600;
   line-height: 40px;
   color: #314a5b;
   margin-bottom: 50px;
}
a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
.face_contacts i {
   margin-right: 15px;
   color: #9aa0ab;
}
.about__body {
	display: flex;
}
.about__right {
	flex-basis: 23%;
	min-width: 230px;
}
.about__left {
	flex-basis: 77%;
}
.text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #9aa0ab;
}
.subtitle {
	font-weight: 700;
}
.title-project {
	margin-bottom: 5px;
}

/*Title section*/

.title_box {
	border-bottom: solid 1px rgb(185, 192, 198);
	display: flex;
	margin-bottom: 30px;
}
.title_name {
   font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;
	margin-left: 20px;
   color: #314a5b;
   margin-top: 6px;
}
.title_icon {
	padding-top: 7px;
}

/*Skills*/

.skills-list > li {
   list-style: none;
   display: inline;
   margin-right: 5px;
}
.skills-list > li::after {
   content: ",";
}
.skills-list > li:last-child::after {
   content: "";
}
.row {
	display: flex;
	margin-bottom: 20px;
}
.col-left {
	flex-basis: 23%;
	min-width: 230px;
}
.col-right {
	flex-basis: 77%;
}

/*Portfolio*/

.portfolio article {
   margin-bottom: 40px;
}
.portfolio article img {
   margin-bottom: 10px;
}

/*Code*/
pre { 
   margin-left: 30px;
}
.code {
   font-size: 16px;
   font-weight: 400;
	line-height: 22px;
	color: #9aa0ab;
   width: 100%;
}

/*Footer*/

.footer {
   background-color: #F5F5F5;
}
.footer_body {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer_logo {
   position: relative;
   width: 150px;
   height: 150px;
}
.footer_logo img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: contain;
      object-fit: contain;
   -o-object-position: center;
      object-position: center;
}
.footer_time {
   font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 22px;
	color: #314a5b;
}
@media (max-width:1054px){
   .container {
      padding: 0 20px;
   }
}
@media (max-width:768px){
   .header {
      padding: 20px 20px 0 20px;
   }
   .header_body {
      flex-wrap: wrap;
      justify-content: flex-end;
   }
   .item__photo {
      order: 1;
   }
   .item__name {
      order: 2;
   }
   .profession {
      margin-bottom: 30px;
   }
   .photo_pic {
      margin-right: 20px;
   }
   .photo_pic img {
      align-self: start;
   }
   .row {
      flex-wrap: wrap;
   }
   .col-left,
   .col-right{
      flex-basis: 100%;
   }
   .face_item {
      margin-bottom: 20px;
   }
   .sect {
      margin-bottom: 40px;
   }

}



